---
import PageMeta from "../components/PageMeta.astro";
import PageLayout from "../layouts/PageLayout.astro";
import { SITE_TITLE } from "../config";
import { blog } from "src/lib/markdoc/frontmatter.schema";
import { readAll } from "src/lib/markdoc/read";

const posts = await readAll({
  directory: "blog",
  frontmatterSchema: blog,
});

const sortedPosts = posts
  .filter((p) => p.frontmatter.draft !== true)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  );
---

<PageLayout width="lg">
  <PageMeta title={`${SITE_TITLE} | Web Ninja`} slot="meta" />
  <div slot="main" class="max-w-6xl m-auto px-6">
    <div class="mt-8 mb-4">
      <div class="border-b-[--border] border-b-[1px] pb-4">블로그</div>
      <div class="flex h-[320px] gap-6 mt-5 max-h-60">
        {
          sortedPosts
            .slice(0, 3)
            .map(
              ({ frontmatter: { title, description, coverImage }, slug }) => (
                <a class="prose unset" href={`/blog/${slug}`}>
                  <div class=" bg-[--code-background] h-44 aspect-video mb-4">
                    {coverImage ? (
                      <img
                        src={`/images/${coverImage}`}
                        class="h-[100%] w-[100%] object-cover my-auto"
                        alt={`${title}-cover-image`}
                      />
                    ) : null}
                    <div>
                      <h3 class="mt-3 my-1">{title}</h3>
                      <p class="text-sm">{description}</p>
                    </div>
                  </div>
                </a>
              )
            )
        }
      </div>
    </div>
    <!-- <div>
      <div class="border-b-[--border] border-b-[1px] pb-4">프로젝트</div>
      <div class="h-[320px]"></div>
    </div> -->
  </div>
</PageLayout>
