---
import { getCollection } from "astro:content";
import BaseLayout from "../components/BaseLayout.astro";

const blogs = await getCollection("blogs");

// const posts = await readAll({
//   directory: "blog",
//   frontmatterSchema: blog,
// });

// const sortedPosts = posts
//   .filter((p) => p.frontmatter.draft !== true)
//   .sort(
//     (a, b) =>
//       new Date(b.frontmatter.date).valueOf() -
//       new Date(a.frontmatter.date).valueOf()
//   );
---

<BaseLayout>
  <div slot="main" class="max-w-6xl m-auto px-6">
    <div class="mt-8 mb-4">
      <div class="text-lg border-b-[--border] border-b-[1px] pb-4">블로그</div>
      <div class="flex h-[320px] gap-6 mt-5 max-h-60">
        {
          blogs
            .slice(0, 3)
            .map(({ data: { title, description, coverImage }, slug }) => (
              <a class="unset" href={`/blogs/${slug}`}>
                <div class=" bg-[--code-background] h-44 aspect-video mb-4">
                  {coverImage ? (
                    <img
                      src={`/images/${coverImage}`}
                      class="h-[100%] w-[100%] object-cover my-auto"
                      alt={`${title}-cover-image`}
                    />
                  ) : null}
                  <div>
                    <h4
                      class="text-xl 
                      font-medium
                      mt-3 my-2"
                    >
                      {title}
                    </h4>
                    <p class="text-sm">{description}</p>
                  </div>
                </div>
              </a>
            ))
        }
      </div>
    </div>
  </div>
</BaseLayout>
